body {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-family: 'Press Start 2P';
  background-color: seashell;
}

.p5Canvas {
  margin-top: 20px;
  width: 900px !important;
  height: 600px !important;
}

.allButtons {
  background-color: white;
  border: none; 
  position: absolute;
  z-index: 1;
  font-family: "Press Start 2P";
  padding: 10px;
  font-size: 12px; 
  cursor: pointer;
}

.startGameButton {
  top: 430px;
  background-color: #d2612f;
  color: white; 
}

.restartLevelButton {
  top: 400px;
}

.restartGameButton {
  top: 450px; 
  background-color: #d2612f;
  color: white; 
}

.lastRestartGame {
  top: 470px;
  background-color: black;
  color: white; 
}

.learnMoreLink {
  position: absolute;
  width: 400px;
  color: black;
  top: 370px; 
  text-align: center;
  line-height: 1.6;
}

.footer {
  margin-top: 25px; 
  font-size: 10px;
  display: flex; 
  justify-content: space-evenly;
  width: 310px;
}

.footer i {
  font-weight: 700;
}
.footer a {
  text-decoration: underline;
  color: black;
}